@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f3e5f5;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #D3C7E6 0%, #aea2c3 100%);
    color: #333;
    align-items: center;
}

.cadastro {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
    /* Responsividade para dispositivos móveis */
  @media (max-width: 768px) {
    .overlay-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .overlay-panel {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .overlay-panel button {
        display: block;
        width: 80%; /* Largura ajustada */
        margin: 10px auto; /* Margem para centralizar */
    }

    .form-container {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    /* Ajuste dos botões */
    .ghost {
        margin: 10px 0; /* Espaçamento entre os botões */
    }
}

}

/*comnetario de testcommit*/




/** header**/
header {
    position: fixed;
    width: 100%;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 0;

    .formu {
        width: 100%;
        background: #fff;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}

/** formulario inicio**/

.formu .logo img {
    max-width: 120px;
}

.hero {
    margin-bottom: 30px;
    margin-top: 30px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #333;
    margin-top: 30px;
}

.hero p {
    font-size: 1.2rem;
    color: #666;
}

.form-section {
    width: 100%;
    background: #fff;
    padding: 30px;
    margin-top: -30px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

form label {
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

form select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

form select:focus {
    border-color: #555;
}

form button, a.link-botao {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #9F7AEA;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    /* background-color: #333; */
}

footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
    background: #fff;
    width: 100%;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
}

img.logo {
    width: 50%;
    font-size: 2.5em;
    color: #333;
}

nav ul.menu {
    display: flex;
    list-style: none;
}

nav ul.menu li.menu-item {
    margin: 0 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    color: #555;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul.menu li.menu-item:hover,
nav ul.menu li.menu-item.active {
    /* background-color: #555; */
    /* color: #fff; */
}

/** final**/


/** tela de login, entrar **/

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 20px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #9F7AEA;
    background-color: #9F7AEA;
    color: #FFFFFF;
    font-size: 12px;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;

    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.isabel {
    border-radius: 20px;
    border: 1px solid #9F7AEA;
    background-color: #9F7AEA;
    color: #FFFFFF;
    font-size: 12px;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}




.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #9F7AEA;
    background: -webkit-linear-gradient(to right, #9F7AEA, #8b69cf);
    background: linear-gradient(to right, #9F7AEA, #8b69cf);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.social-icon {
    height: 30px;
    width: 30px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}


.wauan{
    display: flex;
    height: 50px;
}


.wauan img {
    height: 50px;
}

.navigation a {
    font-size: 1.1em;
    color: #4a4a4a;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    position: relative;
    border: none;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #4a4a4a;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.btn-link {
    padding: 10px 20px;
    border: 2px solid #4a4a4a;
    border-radius: 5px;
    color: #4a4a4a;
    font-size: 1em;
    text-align: center;
    transition: background 0.3s, color 0.3s;

    .btn-link-cam{
        background-color: purple;
        border-radius: 5px;
        border: 2px solid #4a4a4a;

        }
}



.btn-register {
    background: transparent;
    color: #fff;
}



main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    text-align: center;
    padding: -100px;

}

.escolha {
    width: 100%;
    max-width: 800px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text-section {
    flex: 1;
    padding-right: 20px;
}

.text-section h1 {
    font-size: 36px;
    color: #3f3d56;
    margin: 0;
}

.text-section p {
    font-size: 18px;
    color: #7d7d9c;
}

.text-section button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/** texto da tela sobre **/

.texto {
    flex: 1;
    padding-right: 20px;
}

.texto h1 {
    font-size: 36px;
    margin: 0;
}

.texto h3 {
    font-size: 18px;
    color: #7d7d9c;
    margin-top: 20px;
}


.btn-primary {
    background-color: #6f42c1;
    color: white;
}

.btn-secondary {
    background-color: #e9d8fd;
    color: #6f42c1;
    border: 2px solid #6f42c1;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-section img {
    max-width: 100%;
    max-height: calc(100vh - 150px);
    border-radius: 10px;
}

.palette {
    display: flex;
    margin-top: 20px;
}

.palette div {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 5px;
}

.color1 {
    background-color: #6a1b9a;
}

.color2 {
    background-color: #ab47bc;
}

.color3 {
    background-color: #ce93d8;
}

.color4 {
    background-color: #f3e5f5;
}

footer {
    background: #fff;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}


/** servicos **/


.services {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.service {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.service:hover {
    transform: scale(1.05);
}

.service img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.service h3 {
    color: #4A148C;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.service p {
    color: #333333;
    font-size: 0.9em;
}

.container-servicos {
    flex-direction: column;
    margin-top: 140px;
    margin-bottom: 100px;

}

.container-servicos .link-botao{
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-servicos h1 {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    background-color: #9F7AEA;
    padding: 20px;
    border-radius: 10px;
    font-size: 2em;
}

@media(max-width: 780px) {
    .container{
        flex-direction: column;
        margin-top: 70px;
    }

    .services{
        flex-direction: column;
        gap: 2rem;
    }

    .service{
        width: 100%;
    }
}

header .Nivia {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #282a36;
    align-items: center;
    color: #50fa7b;
    position: fixed;
    width: 100%;
  }
  
  header a {
    text-decoration: none;
    color: #50fa7b;
    padding: 1rem;
  }
  
  header a:hover {
    /* background-color: #44475a; */
  }
  
  header span {
    display: none;
  }
  
  @media(max-width: 576px) {
    nav {
      display: none;
    }
  
    header span {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  
    nav.mobile {
      display: flex;
      flex-direction: column;
    }
  
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
  }