@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../imagens/fundo-style.png');
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    position: relative;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #101010;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.button {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #efebeb;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #efebeb;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: white;
    color: black;
}



.container {
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    padding-left: 100px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.image {
    flex: 1;
    padding: 10px;
}


img {
    max-width: 100%;
    height: auto;
}

.main__info div a{
    background: var(--red);
}


.btn:hover {
    background: white;
    color: black;
}

.login-register p {
    font-size: .9em;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.login-register a {
    color: #ffff8e;
    text-decoration: none;
}

.login-register a:hover {
    text-decoration: underline;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: .9em;
    color: #ffffff;
    margin-top: 10px;
}

.remember-forgot label {
    display: flex;
    align-items: center;
}

.remember-forgot a {
    color: #ffff8e;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}